body{margin-left: 25%;margin-right: 25%;}

.rojo{ background: red;}
.azul{ background: blue;}
.amarillo{background: yellow;}

.naranja{ background:rgb(225, 137, 7);}
.verde{ background: green;}
.purpula{ background: purple;}

.oliva{background: olive;}
.celeste{ background: cornflowerblue;}
.turquesa{background: turquoise;}
.violeta{background: violet;}
.rosa{ background: pink;}